.app__container {
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
.app__logo {
  width: 100%;
  object-fit: contain;
  height: 50px;
}
.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app {
  height: 100vh;
}
